<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="AppUserPasswordKey" value="PaimanReposteria2023*-+" />
		<!-- Otras configuraciones aquí -->
	</appSettings>

	<system.web>
		<authorization>
			<allow roles="canEdit"/>
			<deny users="*"/>
		</authorization>
	</system.web>
</configuration>
